body {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    background-image: url("https://static.vecteezy.com/system/resources/previews/015/132/071/non_2x/abstract-the-cyan-background-for-design-hd-wallpaper-free-vector-free-photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
   header {
    background-color:#333;
    color: #fff;
    padding: 20px;
  }
   ul li a {
    color:burlywood;
    text-decoration: none;
  }
  li{
    display: inline;
    margin-right:50px;
  }
 
 
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
   #home img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
   .my_portfolio{
    background-color: antiquewhite;
    padding: 10px;
  }
 